html {
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ced7e9, #537ea9), white; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 200;
  width: 100%;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #225c97;
  font-weight: 100px;
}

img {
  max-width: 70vw;
}

a {
  text-decoration: none;
  color: white;
}
a:active, a:visited {
  color: white;
}

.site-wrap {
  max-width: 90vw;
  margin: 20px auto;
  padding: 20px 3vw;
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

.slide-in {
  opacity: 0;
  transition: all .2s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

a.totop {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  display: block;
}
/* a.totop:active, a.totop:visited {
  color: white;
} */

@media screen and (max-width: 360px) {
  .site-wrap {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    margin: 0;
  }
  img {
    width: 300px;
  }
}