html {
  box-sizing: border-box;
  font-family: "Arial Rounded MT Bold", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-height: 100vh;
  background: black;
  background-image: url(https://78.media.tumblr.com/7a229daeb64180c70fdd9c88d5dc8c37/tumblr_p1fakxD1Ag1tgcve3o1_1280.png);
  background-size: cover;
}

h2 {
  margin-top: 20px;
  text-align: center;
  color: #efefef;
}

nav {
  position: relative;
  perspective: 600px;
}

.cool > li > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #5dccd8;
  padding: 10px 20px;
  margin: 20px;
  background: rgba(55, 100, 110, 0.2);
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cool > li {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  display: none;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  display: flex;
  justify-content: center;
  position: absolute;
  background: white;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s, opacity 0.7s, transform 0.05s;
  transform-origin: 50% 0;
}
.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  float: left;
  margin-right: 20px;
}

.courses {
  min-width: 300px;
}

.courses li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0,0.2);
}

.dropdown a {
  text-decoration: none;
  color: gray;
}

a.button {
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin: 10px auto;
}

/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*=twitter] { background: #019FE9; }
.button[href*=facebook] { background: #3B5998; }
.button[href*=medium] { background: green; }

@media screen and (max-width: 500px) {
  .dropdown {
    left: 0;
    padding: 5px;
  }
  .arrow {
    display: none;
  }
  .bio {
    min-width: 250px;
  }
  .bio img {
    visibility: hidden;
    width: 30px;
    margin-right: 5px;
  }
  p {
    font-size: 14px;
  }
  nav ul li ul li {
    font-size: 14px;
  }
  .dropdownBackground {
    max-width: 280px;
  }
}