html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background: #00b09b;  
  background: -webkit-linear-gradient(to right, #ffffcc, #00b09b);  
  background: linear-gradient(to right, #ffffcc, #00b09b); 
  background-size: 100px 50px;
}

label {
  font-size: 20px;
}

.voiceinator {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: .5rem;
  background: #195d19;
  border-bottom: 5px solid #ffffcc;
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Helvetica', cursive;
  text-shadow: 2px 2px 0 #ffffcc;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #cce5cc;
  outline: 0;
}

textarea {
  height: 20rem;
}

input[type="select"] {
 /*  */
}

.voiceinator button {
  background: #195d19;
  border: 0;
  width: 49%;
  float: left;
  font-family: 'Helvetica', cursive;
  color: white;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #ffffcc;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}